*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
// NavBar Start
#navbar{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.301);
    .navbar-nav{
        gap: 42px;
        margin-left: 114px;
        .nav-link{
            color: #FFFFFF;
            transition: all linear 0.3s;
            &:hover{
                color: #1BBF00;
            }
        }
    }
    .btn{
        padding: 5px 14px;
        background-color: #1BBF00;
        color: #FFFFFF;
        border-radius: 25px;
        margin-left: 113px;
    }
}
// NavBar End
// Banner Start
#banner{
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 1080px;
    background-repeat: no-repeat;
    .banner__overlay{
        background-color: #6a62c5cb;
        height: 1080px;
        padding: 246px 479px;
        .banner__contents{
            .ban__head{
                margin-right: 240px;
                h1{
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 75px;
                    font-weight: 700;
                    color: #FFFFFF;
                }
            }
            .ban__para{
                margin-top: 30px;
                margin-right: 230px;
                p{
                    color: #FFFFFF;
                    text-align: center;
                    font-family: 'Paprika', cursive;
                    font-size: 24px;
                    font-weight: 400;
                }
            }
            .ban__link{
                margin-top: 50px;
                margin-left: 260px;
                display: flex;
                gap: 28px;
                .ban__link__btn{
                    button{
                        padding: 20px 40px;
                        border: 2px solid #1BBF00;
                        background-color: transparent;
                        color: #FFFFFF;
                        border-radius: 50px;
                        transition: all linear 0.3s;
                        &:hover{
                            border-color: transparent;
                            background-color: #1BBF00;
                        }
                    }
                }
            }
        }
    }
}
// Banner End
// Work Start
#work{
    padding: 100px 0;
    background-color: #F6F5FF;
    .work__contents{
        .row{
            .work__sec{
                .work__info{
                    .work__info__head{
                        h3{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 48px;
                            font-weight: 700;
                            color: #141135;
                        }
                    }
                    .work__info__para{
                        margin-top: 20px;
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            color: #141135;
                        }
                    }
                    .work__info__link{
                        margin-top: 56px;
                        button{
                            background-color: transparent;
                            border: 2px solid #1BBF00;
                            border-radius: 50px;
                            padding: 20px 40px;
                            font-size: 20px;
                            font-weight: 700;
                            font-family: 'Open Sans', sans-serif;
                            color: #141135;
                            transition: all linear 0.3s;
                            &:hover{
                                background-color: #1BBF00;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
                .work__card{
                    margin-top: 125px;
                    padding: 48px 36px 49px 37px;
                    width: 369px;
                    background-color: #FFFFFF;
                    border: 1px solid transparent;
                    border-radius: 25px;
                    transition: all linear 0.3s;
                    &:hover{
                        background-color: #726E9E;
                        .work__card__head{
                            color: #FFFFFF;
                        }
                        .work__card__para{
                            color: #FFFFFF;
                        }
                        .work__card__link{
                            a{
                                color: #FFFFFF;
                            }
                        }
                    }
                    .work__card__img{
                        margin-left: 113px;
                    }
                    .work__card__head{
                        margin-top: 32px;
                        font-size: 30px;
                        font-weight: 700;
                        font-family: 'Open Sans', sans-serif;
                        color: #141135;
                        text-align: center;
                    }
                    .work__card__para{
                        margin-top: 32px;
                        font-size: 18px;
                        font-weight: 400;
                        font-family: 'Paprika', cursive;
                        color: #141135;
                        text-align: center;
                        color: #726E9E;
                    }
                    .work__card__link{
                        text-align: center;
                        a{
                            font-size: 18px;
                        font-weight: 700;
                        font-family: 'Open Sans', sans-serif;
                        color: #141135;
                        }
                    }

                }
                .work__card__one{
                    padding: 48px 36px 49px 37px;
                    width: 369px;
                    background-color: #FFFFFF;
                    border: 1px solid transparent;
                    border-radius: 25px;
                    transition: all linear 0.3s;
                    &:hover{
                        background-color: #726E9E;
                        .work__card__head{
                            color: #FFFFFF;
                        }
                        .work__card__para{
                            color: #FFFFFF;
                        }
                        .work__card__link{
                            a{
                                color: #FFFFFF;
                            }
                        }
                    }
                    .work__card__img{
                        margin-left: 113px;
                    }
                    .work__card__head{
                        margin-top: 32px;
                        font-size: 30px;
                        font-weight: 700;
                        font-family: 'Open Sans', sans-serif;
                        color: #141135;
                        text-align: center;
                    }
                    .work__card__para{
                        margin-top: 32px;
                        font-size: 18px;
                        font-weight: 400;
                        font-family: 'Paprika', cursive;
                        color: #141135;
                        text-align: center;
                        color: #726E9E;
                    }
                    .work__card__link{
                        text-align: center;
                        a{
                            font-size: 18px;
                        font-weight: 700;
                        font-family: 'Open Sans', sans-serif;
                        color: #141135;
                        }
                    }
                }
                .work__card__two{
                    margin-top: 25px;
                    padding: 48px 36px 49px 37px;
                    width: 369px;
                    background-color: #FFFFFF;
                    border: 1px solid transparent;
                    border-radius: 25px;
                    transition: all linear 0.3s;
                    &:hover{
                        background-color: #726E9E;
                        .work__card__head{
                            color: #FFFFFF;
                        }
                        .work__card__para{
                            color: #FFFFFF;
                        }
                        .work__card__link{
                            a{
                                color: #FFFFFF;
                            }
                        }
                    }
                    .work__card__img{
                        margin-left: 113px;
                    }
                    .work__card__head{
                        margin-top: 32px;
                        font-size: 30px;
                        font-weight: 700;
                        font-family: 'Open Sans', sans-serif;
                        color: #141135;
                        text-align: center;
                    }
                    .work__card__para{
                        margin-top: 32px;
                        font-size: 18px;
                        font-weight: 400;
                        font-family: 'Paprika', cursive;
                        color: #141135;
                        text-align: center;
                        color: #726E9E;
                    }
                    .work__card__link{
                        text-align: center;
                        a{
                            font-size: 18px;
                        font-weight: 700;
                        font-family: 'Open Sans', sans-serif;
                        color: #141135;
                        }
                    }
                }
            }
        }
    }
}
// Work Start
// Plan Start
#plan{
    padding: 100px 0;
    background-color: #F6F5FF;
    .plan__head{
        text-align: center;
        h3{
            font-size: 48px;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            color: #141135;
        }
    }
    .plan__card{
        padding: 60px 0;
        margin-top: 64px;
        background-color: #FFFFFF;
        border: 1px solid transparent;
        border-radius: 25px;
        cursor: pointer;
        transition: all linear 0.3s;
        &:hover{
            background-color: #726E9E;
            .plan__card__head{
                color: #FFFFFF;
            }
            .plan__card__para{
                p{
                    color: #E6E5F3;
                }
            }
        }
        .plan__card__head{
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            color: #141135;
        }
        .plan__card__img{
            margin-top: 26px;
        }
        .plan__card__money{
            margin-top: 20px;
            p{
                text-align: center;
                font-size: 48px;
                font-weight: 800;
                font-family: 'Open Sans', sans-serif;
                color: #1BBF00;
            }
        }
        .plan__card__para{
            margin-top: 12px;
            text-align: center;
            p{
                font-size: 18px;
                font-weight: 400;
                font-family: 'Paprika', cursive;
                color: #726E9E;
            }
        }
    }

}
// Plan End
// Conclusion Start
#conclusion{
    padding: 140px 0 80px 0;
    background-color: #48409C;
    .conclusion__contents{
        display: flex;
        gap: 90px;
        .conclusion__info__para{
            margin-top: 44px;
            width: 449px;
            p{
                font-size: 18px;
                font-weight: 400;
                font-family: 'Nunito', sans-serif;
                color: #FFFFFF;
            }
        }
        .conclusion__links{
            .conclusion__links__head{
                margin-bottom: 48px;
                h5{
                    font-size: 24px;
                    font-weight: 600;
                    font-family: 'Open Sans', sans-serif;
                    color: #FFFFFF;
                }
            }
            .conclusion__links__opt{
                margin-bottom: 20px;
                a{
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'Nunito', sans-serif;
                    color: #FFFFFF;
                }
            }
        }
    }
}
// Conclusion End
// Footer Start
#footer{
    background-color: #48409C;
    padding: 10px 0 40px;
    .footer__contents{
        display: flex;
        justify-content: space-between;
        .copyright{
            p{
                font-size: 18px;
                font-weight: 400;
                font-family: 'Nunito', sans-serif;
                color: #E6E5F3;
            }
        }
        .privacy__terms{
            display: flex;
            gap: 60px;
            .privacy{
                a{
                    font-size: 18px;
                    font-weight: 400;
                    font-family: 'Nunito', sans-serif;
                    color: #E6E5F3;
                }
            }
            .terms{
                a{
                    font-size: 18px;
                    font-weight: 400;
                    font-family: 'Nunito', sans-serif;
                    color: #E6E5F3;
                }
            }
        }
    }
}
// Footer End